.azure-logo {
    color: #0078d7 !important;
    font-size: 22px;
    font-weight: 600;
}

.header-nav {
    min-height: 4.25rem !important;
    background-color: black !important;
    padding: 0.25rem 0;
}

.hidden {
    display: none !important;
}

.metadata-row {
    margin: 3rem 0 1rem;
}

.button-group {
    margin: 4rem 2rem 0;
}

.small-top-margin {
    margin-top: 1rem;
}

.medium-top-margin {
    margin-top: 2rem;
}

.large-bottom-margin {
    margin-bottom: 4rem;
}

.module-checkbox {
    padding-left: 20px;
}

.module-checkbox input:first-child {
    margin-left: -20px;
}

.module-checkbox p {
    margin: 2px 0 0 -2px;
    color: grey;
}

.port-input {
    height: 18px;
    width: 50px;
    color: #04a6d7;
    text-align: right;
}

body, button, input, p, select, textarea, label, h1, h2, h3, h4 {
    font-weight: 400;
    font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
}

#login_link, #user_dropdown, #free_link, #about_link {
    align-items: center;
    margin-left: 2rem;
}

.small-container {
    max-width: 1152px !important;
    width: 1152px !important;
}

.nav-title {
    color: #dedede !important;
    font-size: 1.75rem;
}

.button,.file-cta,.file-name,.input,.pagination-ellipsis,.pagination-link,.pagination-next,.pagination-previous,.select select,.textarea {
    border-radius: 0px;
}

#free_link a{
    background-color: transparent;
    color: #89c402;
}

#login_link a, #user_dropdown a, #free_link a, #about_link {
    font-weight: 600;
}

#generate-project {
    background-color: #3273dc;
    color: #fff;
}

.truncate {
    display: inline-block;
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#logout_link {
    border-radius: 0;
}

#user_dropdown div {
    text-align: center;
    vertical-align: middle;
    line-height: 2.75rem;
}

#get-started {
    background-color: #f4f4f4;
    padding: 24px 0;
}

.start-video {
    display: block;
    margin: 0 auto;
}

.module-input {
    padding: 0.75rem 0 0 0.75rem;
}

#azure-service-name {
    width: 20em;
}

#azure-service-port {
    width: 5em;
}

#service-info-input {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 0.25em;
}
#service-info-input input {
    margin: auto 0.25em;
}

#selected-modules-list li {
    display: flex;
    align-items: center;
}

.steps {
    margin: 2rem 0;
}
