.header-nav {
    min-height: 4.25rem !important;
    background-color: black !important;
    padding: 0.25rem 5rem;
    box-shadow: none;
}

.azure-nav-end {
    padding: 0 5rem;
}

.azure-nav-end, .azure-nav-end div {
    z-index: 2000;
}

.navbar-user {
    color: #fff;
}

.navbar-user::after {
    border-color: #fff;
}

.hidden {
    display: none !important;
}

.metadata-row {
    margin: 3rem 0 1rem;
}

.logo-container {
    position: relative;
    top: 5px;
    align-items: center;
}

.logo-container svg {
    height: 1.5rem;
    width: 15rem;
}

.button-group {
    margin: 4rem 2rem 0;
}

.small-top-margin {
    margin-top: 1rem;
}

.medium-top-margin {
    margin-top: 2rem;
}

.large-top-margin {
    margin-top: 4rem;
}

.large-bottom-padding {
    padding-bottom: 6rem;
}

.module-checkbox {
    padding-left: 20px;
}

.module-checkbox input:first-child {
    margin-left: -20px;
}

.module-checkbox p {
    margin: 2px 0 0 -2px;
    color: grey;
}

.port-input {
    height: 18px;
    width: 50px;
    color: #04a6d7;
    text-align: right;
}

body, button, input, p, select, textarea, label, h1, h2, h3, h4 {
    font-weight: 400;
    font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
}

.navbar>.small-container {
    max-width: 1152px;
    width: 1152px;
}

.nav-title {
    color: #dedede !important;
    font-size: 1.5rem;
}

.button,.file-cta,.file-name,.input,.pagination-ellipsis,.pagination-link,.pagination-next,.pagination-previous,.select select,.textarea {
    border-radius: 0px;
}

.azure-green-color {
    background-color: transparent;
    color: #89c402;
}

.truncate {
    display: inline-block;
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#get-started {
    background-color: #f4f4f4;
    padding: 24px 0;
    position: relative;
}

.github-fork:before {
    background-color: #090;
}

.start-video {
    display: block;
    margin: 0 auto;
}

.module-input {
    padding: 0.75rem 0 0 0.75rem;
}

#service-info-input {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 0.25em;
}
#service-info-input input {
    margin: auto 0.25em;
}

#selected-modules-list li {
    display: flex;
    align-items: center;
}

.steps {
    margin: 2rem 0;
}

.mandatory-label:before{
    content:"*" ;
    color:red
}

.footer-links li {
    display: inline-block;
}

.footer-links li:after {
    margin-left: 8px;
    content: "•";
    color: hsla(0, 0%, 46%, 1);
    color: var(--grey);
}

.footer-links li:last-child:after {
    content: "";
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links a, .footer-links a:visited {
    color: #4A4A4A;
}

.playground-footer {
    background-color: #fafafa;
    padding: 1.5rem;
}

.playground-footer .content ul {
    margin-top: 0;
}

.loading-status {
    padding-top: 0.5rem;
}

.status-icon {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.service-columns {
    width: 100%;
}
