<div id="infra-selection" class="hidden">
    {{#services.content.0}}
        <div id="services">
            <div class="columns is-multiline">
                {{#content}}
                    <div class="column is-half module-input">
                        <label class="checkbox module-checkbox">
                            <input tabindex="13" type="checkbox" name="services" value="{{id}}" class="infra-checkbox">
                            {{name}}
                            <input class="hidden port-input" type="number" tabindex="14" name="{{portName}}" value="{{defaultPort}}">
                            <p class="help-block">{{#description}}{{.}}{{/description}}</p>
                        </label>
                    </div>
                {{/content}}
            </div>
        </div>
    {{/services.content.0}}
    <div id="advanced-option" class="large-top-margin">
        Want to <a id="config-port" class="is-7">configure your services ?</a>
    </div>
    <div class="medium-top-margin">
        <p class="has-text-centered">
            <button onclick="gtag('event', 'click', { event_category: 'Go to meta data config', event_action: 'click'});"
                    tabindex="13" id="prev-goto-meta-step" type="button" class="button" role="button">
                Previous
            </button>
            <button onclick="gtag('event', 'click', { event_category: 'Go to azure config', event_action: 'click'});"
                    tabindex="12" id="next-goto-azure-step" type="button" class="button" role="button">
                Next
            </button>
        </p>
    </div>
</div>
