<div id="azure-selection" class="hidden">
    <div class="columns">
        <div class="field column is-half">
            <label for="azure-service-name" class="label mandatory-label">Service Name</label>
            <div class="control">
                <input class="input" type="text" id="azure-service-name" name="azure-service-name" placeholder="Unique service name with [0-9][a-zA-Z][-] only" alt="Name of the service will be generated">
            </div>
            <p id="service-name-help" class="help is-danger hidden">Service name invalid or already exists</p>
        </div>
        <div class="field column is-one-fifth">
            <label for="azure-service-port" class="label mandatory-label">Port</label>
            <div class="control">
                <input class="input" type="number" id="azure-service-port" name="azure-service-port" placeholder="between 1025 ~ 65535" alt="Runtime port for this service" min="1025" max="65535">
            </div>
            <p id="port-help" class="help is-danger hidden">Port invalid or already exists</p>
        </div>
    </div>

    {{#services.content.1}}
        <div id="services">
            <div class="columns is-multiline">
                {{#content}}
                    <div class="column is-half module-input">
                        <label class="checkbox module-checkbox">
                            <input tabindex="13" type="checkbox" name="azure-modules" value="{{id}}" class="azure-checkbox">
                            {{name}}
                            <p class="help-block">{{#description}}{{.}}{{/description}}</p>
                        </label>
                    </div>
                {{/content}}
            </div>
        </div>
    {{/services.content.1}}
    <div id="service-info-input">
        <input type="button" class="button" id="create-azure-service" value="+ Add service" disabled/>
    </div>
    <hr class="small-top-margin"/>
    <div class="medium-top-margin">
        <h3 class="title is-6">Configured services</h3>
        <ul id="selected-modules-list">
        </ul>
    </div>
    <div class="button-group">
        <p class="has-text-centered">
            <button onclick="gtag('event', 'click', { event_category: 'Go to infra config', event_action: 'click'});"
                    tabindex="13" id="prev-goto-infra-step" type="button" class="button" role="button">
                Previous
            </button>
            <button onclick="gtag('event', 'click', { event_category: 'Project Generation', event_action: 'click'});"
                    tabindex="14" id="generate-project" type="submit" class="button" role="button">
                Generate Project
            </button>
        </p>
    </div>
</div>
