<div id="infra-selection">
    <div class="columns">
        <div class="column">
            <label for="groupId" class="label">{{groupId.title}}</label>
            <input tabindex="4" id="groupId" class="input" type="text" value="{{groupId.content}}"
                   name="groupId">
        </div>
        <div class="column">
            <label for="artifactId" class="label">{{artifactId.title}}</label>
            <input tabindex="5" id="artifactId" class="input" type="text"
                   value="{{artifactId.content}}"
                   name="artifactId">
        </div>
    </div>
    {{#services.content.0}}
        <div id="services">
            <div class="columns is-multiline">
                {{#content}}
                    <div class="column is-half module-input">
                        <label class="checkbox module-checkbox">
                            <input tabindex="13" type="checkbox" name="services" value="{{id}}" class="infra-checkbox">
                            {{name}}
                            <input class="hidden port-input" type="number" tabindex="14" name="{{portName}}" value="{{defaultPort}}">
                            <p class="help-block">{{#description}}{{.}}{{/description}}</p>
                        </label>
                    </div>
                {{/content}}
            </div>
        </div>
    {{/services.content.0}}
    <div class="button-group">
        <p class="has-text-centered">
            <button onclick="gtag('event', 'click', { event_category: 'Go to azure config', event_action: 'click'});"
                    tabindex="12" id="next-step" type="button" class="button" role="button">
                Next
            </button>
        </p>
    </div>
    Want to <a id="config-port" class="is-7">configure your services ?</a>
</div>
