<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Cloud Azure Playground</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{#linkTo}}/css/bulma.min.css{{/linkTo}}"/>
    <link rel="stylesheet" href="{{#linkTo}}/css/bulma-steps.min.css{{/linkTo}}"/>
    <link rel="stylesheet" href="{{#linkTo}}/css/customize.css{{/linkTo}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="build-info" content="{{build.information}}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121081149-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121081149-1');
    </script>
</head>
<body>
<nav class="navbar is-transparent header-nav">
    <div class="navbar-brand">
        {{> azure-logo}}
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item nav-title">
                Spring Cloud Azure Playground
            </a>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="field is-grouped">
            <p class="control">
                <a class="is-black button" target="_blank" href="https://github.com/Microsoft/spring-cloud-playground/issues">
                    <span class="icon">
                        <i class="far fa-comments"></i>
                    </span>
                    <span>
                        Report Issue
                    </span>
                </a>
            </p>
                <p class="control">
                    <a class="button is-black" href="/oauth2/authorization/github">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Sign In</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    </div>
</nav>
<div id="get-started">
    <a href="https://github.com/Microsoft/spring-cloud-azure" class="github-fork">
        <img src="{{#linkTo}}/img/forkme-right-green.png{{/linkTo}}" alt="Fork me on GitHub">
    </a>
    <div class="tabs small-container container">
        <ul>
            <li id="generate-tab" class="is-active"><a>Generate Project</a></li>
            <li id="build-run-tab"><a>Build & Run</a></li>
        </ul>
    </div>
    <div id="generate-animation"  class="small-container container">
        <video class="start-video" width="800px" height="430px" autoplay muted loop controls>
            <source src="{{#linkTo}}/img/generate-project.mp4{{/linkTo}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="build-run-animation" class="hidden small-container container">
        <video class="start-video" width="800px" height="430px" autoplay muted loop controls>
            <source src="{{#linkTo}}/img/run.mp4{{/linkTo}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<form id="form" method="post" role="form">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="hidden" name="_csrf_header" value="{{_csrf.headerName}}"/>
    <div class="small-container container large-bottom-padding">
        <input id="baseDir" name="baseDir" type="hidden" value="{{artifactId.content}}">
        <div class="row metadata-row">
            <h4 class="title is-5">Generate your Spring Cloud application</h4>
            {{> select-steps}}
        </div>
        {{> config-meta-data}}
        {{> config-infra-service}}
        {{> config-azure-service}}
    </div>
</form>
<footer class="playground-footer">
    <div class="content has-text-centered">
        <ul class="footer-links">
            <li><a href="https://github.com/Microsoft/spring-cloud-azure" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT License</a></li>
            <li>© Microsoft 2018</li>
        </ul>
    </div>
</footer>
<script src="{{#linkTo}}/js/jquery-3.1.1.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/typeahead.bundle.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/mousetrap.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/adal.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/all.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/utils.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/auth.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/start.js{{/linkTo}}"></script>
</body>
</html>
