<!DOCTYPE html>
<html lang="en">
<head>
    <title>Azure Spring Cloud Playground</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{#linkTo}}/css/bulma.min.css{{/linkTo}}"/>
    <link rel="stylesheet" href="{{#linkTo}}/css/customize.css{{/linkTo}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121081149-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121081149-1');
    </script>
</head>
<body>
    {{> header}}
    {{> homebody}}

<script src="{{#linkTo}}/js/jquery-3.1.1.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/typeahead.bundle.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/mousetrap.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/adal.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/all.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/start.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/header.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/auth.js{{/linkTo}}"></script>
</body>
</html>
