<div class="steps">
    <div id="infra-step" class="step-item is-active">
        <div class="step-marker">
            <span class="icon">
                <i class="fa fa-check"></i>
            </span>
        </div>
        <div class="step-details">
            <p class="step-title">Step 1</p>
            <p>Select infrastructure modules</p>
        </div>
    </div>
    <div id="azure-step" class="step-item">
        <div class="step-marker">
            <span class="icon">
                <i class="fa fa-check"></i>
            </span>
        </div>
        <div class="step-details">
            <p class="step-title">Step 2</p>
            <p>Configure microservice with Azure modules</p>
        </div>
    </div>
</div>